<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>
          Add a Input field which updates a property ('username') via
          Two-Way-Binding
        </li>
        <li>
          Output the username property via String Interpolation (in a paragraph
          below the input)
        </li>
        <li>
          Add a button which may only be clicked if the username is NOT an empty
          string
        </li>
        <li>
          Upon clicking the button, the username should be reset to an empty
          string
        </li>
      </ol>

      <h4>User Name</h4>
      <input type="text" class="form-control" [(ngModel)]="userName" />
      <p>{{ userName }}</p>
      <button
        class="btn btn-primary"
        [disabled]="userName == ''"
        (click)="clickFunction()"
      >
        reset user
      </button>
      <br />
      <br />
      <button class="btn btn-primary" (click)="func1()">Display details</button>

      <p>Total count= {{ totalcount }}</p>
      <p *ngIf="showSecret">Secret Password=tuna</p>
      <!--
        <div
          *ngFor="let logItem of log"
          [ngStyle]="{ backgroundColor: logItem >= 5 ? 'blue' : 'transparent' }"
          [ngClass]="{ 'white-text': logItem >= 5 }"
        >
          <p>The length of a log array is {{ log.length }}</p>
          {{ logItem }}
        </div>
      -->
      <div
        *ngFor="let logItem of log; let i = index"
        [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
        [ngClass]="{ 'white-text': i >= 4 }"
      >
        <p>The length of a log array is {{ log.length }}</p>
        {{ logItem }}
      </div>
    </div>
  </div>
</div>
